/* Reset default margins */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #070f2b;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

.NavBarH {
  border: solid;
  border-width: 5px;    
  border-color: #1c1b51;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3b3a95;
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 75px;
  z-index: 1000;
  font-size: 25px;
}

.NHButton {
  float: right;
}

.logo{
  align-self: center;
  color: white;
  padding:10px;
  float: left;
}
.NavBarH li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.NavBarH li a:hover {
  background-color: #111111;
}

.Lessons_Top {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 12px;
}

.Lesson_Icon {
  border: 3px solid #2c3252;
  background-color: #535c91;
  width: 40px;       /* small button width */
  height: 40px;      /* square button */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.Lesson_Move {
  border: 3px solid #2c3252;
  background-color: #535c91;
  color: white;
  width: clamp(40px,15vw,80px);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.NavBarV {
  border: solid;
  border-width: 5px;    
  border-color: #2c3252;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: clamp(50px,25vw,130px);
  background-color: #535c91;
  position: fixed;
  top: 60px; 
  height: calc(100% - 48px); 
  overflow: auto;
  font-size: clamp(10px,4vw,25px)
}

.NavBarV li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

.NavBarV li a.active {
  background-color: #04AA6D;
  color: white;
}

.NavBarV li a:hover:not(.active) {
  background-color: #555555;
  color: white;
}

.content {
  margin-left: clamp(50px,25vw,130px);
  margin-top: 40px;
  padding: clamp(2.5px,2.5vw,16px)
}

.content h2{
  border: solid;
  width: 100%;
  border-width: 5px;    
  border-color: #1c1b51;
  background-color: #3b3a95;
  color: white;
  padding: 10px;
  font-size: clamp(15px,2.5vw,24px);
  border-radius: 15px;
}

.textbox {
  border: solid;
  border-width: 5px;    
  border-color: #2c3252;
  display: flex;
  background-color: #535c91;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.textbox p {
  color: white;
  width: 100%;
  font-size: clamp(10px,2.5vw,18x);
  margin: 0;
  word-break: break-word;
}

.square {
  width: 30%;
  flex-grow: inherit;
  border: solid;
  border-width: 5px;    
  border-color: #2c3252;
  background-color: #8e8ec2;
  border-radius: 20px;
  margin-right: 20px;
}

.LessonPlan{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.LessonBox{
  border: solid;
  border-width: 5px;    
  border-color: #2c3252;
  display: flex;
  align-content: center;
  background-color: #535c91;
  padding: 10px;
  max-width: 600px;
  border-radius: 15px;
  margin: 15px;
}

.LessonBox_small{
  border: solid;
  border-width: 5px;    
  border-color: #2c3252;
  display: flex;
  align-content: center;
  background-color: #535c91;
  padding: 10px;
  width: clamp(130px,85vw,500px);
  border-radius: 15px;
  margin: 12px;
  color: white;
}

.LessonBox:hover{
  border-color: #c5c8db;
  cursor: pointer;
  background-color: #7079aa;
  .LessonTitle{
      border-color: #5a628e;
  }
  .LessonDesc{
      border-color: #32316b;
      background-color: #5755b7;
  }
}

.LessonTitle{
    border: solid;
    border-width: 5px;    
    border-color: #2c3252;
    align-content: center;
    width: 32.5%;
    height: 125px;
    background-color: #9290c3;
    border-radius: 20px;
    flex-shrink: 0;
    margin-right: 20px;
}.LessonTitle p{
    text-align: center;
    margin: 10px;
    font-size: clamp(12px,2.0vw,15px);
    color: #1b1a55;
}

.LessonDesc{
    align-content: center;
    border: solid;
    border-width: 5px;    
    border-color: #1c1b51;
    width: 60%;
    height: 125px;
    background-color: #3b3a95;
    border-radius: 20px;
    flex-shrink: 0;
    margin-right: 20px;
}

.LessonDesc p{
    color: white;
    margin: 1.5vw;
    font-size: clamp(12px,2.0vw,15px);
}






* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
.mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next, .prev2, .next2 {
  align-content: center;
  cursor: pointer;
  position: absolute;
  top: 0%;
  text-align: center;
  text-justify: auto;
  width: 20%;
  padding: 16px;
  height: 100%;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next, .next2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover, .prev2:hover, .next2:hover {
  background-color: rgba(0, 0, 0, 0.358);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  top: 87%;
}

/* The dots/bullets/indicators */
.dot, .dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #565656;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 15px;
}

.active, .active2, .dot:hover, .dot2.hover {
  background-color: #ffffff;
}

/* Fading animation */
.fade, .fade2 {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .prev2, .next2, .text {font-size: 11px;}
}


@media (max-width: 750px){
  img{
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .NHButton, .logo{
    font-size: 18px;
  }
}

@media (max-width: 560px) {
  .NavBarV{
    display: none;
  }
  .content{
    margin-left: 0px;
  }
  .NHButton, .logo{
    font-size: 13px;
  }
  .dot,.dot2{
    display: none;
  }
  .LessonBox{
    display: none;
  }
}

@media (min-width: 562px){
  .LessonBox_small{
    display: none;
  }
  .LessonBox_small h3{
    display: none;
  }
}

@media (max-width: 345px) {
  .NHButton, .logo{
    font-size: 13px;
  }
  .dot,.dot2{
    display: none;
  }
}

@media (min-width: 561.5px){
  .Lessons_Top{
    display: none;
  }
}
